# Database Connection (Supabase / PostgreSQL)
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://username:password@host:port/database?pgbouncer=true"
# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://username:password@host:port/database"

# Clerk API keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
